{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ 'Hello redis' }} <br/>
            {{ value }}
        </div>
    </div>
{% endblock body %}
